/* 

lime - #e4fdc3 

mint - #8ae2c8 

orange - #e89b6a 

melon - #e2625c

*/
header {
    background-color: #e89b6a;
}

nav {
    background-color: #e89b6a;
}

nav::after {
    text-decoration: none;
    color: #7368ba;
}

nav::after:hover {
    width: 100%;
}

